html, body {
    margin: 10%;
    padding: 1;
}
.generate-pw-container {
    max-width: 300px;
    margin:0 auto;
    padding:1em;
    height:vh;
    background-color: rgb(9, 9, 9);
  
}
 
 /* .display-passwords-container {
     border-top: 1px white white;
 }  */
   
     


.title {
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 40px;
letter-spacing: -0.05em;
text-align: left;
color: white;
margin-bottom:0;
}

.title .accent-txt {
    color:#55F991;
    display:block;
}

.subtitle {
font-family: 'Inter';
font-weight: 400;
font-size: 19px;
line-height: 28px;
color: #6B7280;
margin:0;
}


.generate-passwords-btn,
.copy-btn
 {
 font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 24px;
background: #10B981;
color:#fff;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
/* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); */
border-radius: 6px;
border: 0;

}
.change-password-length
{
    display:center;
    justify-content:center; 
    font-size: 18px;
    align-items:center; 
    text-align: center;
    background:#10B981;
    height : 2em;
    /* width: 10em; */
    color:#fff;
    margin: 16px 0px;
    padding:0.4em 0.8em;
    border-radius: 6px;
    border: 0;

}
.generate-passwords-btn img,.copy-btn img {
height: 18px;
width: 14px;
margin-right:0.2em;
}
.actions {
   display:flex;
   justify-content: space-between; 
}
.generate-passwords-btn:active,
.copy-btn:active
{
    border-color: black;
    color: black;
    transition: 3ms;
}
.change-password-length:active
{
     
        border-color: black;
        color: black;
        transition: 3ms;
      
}


.display-passwords-container {
    
    display:flex;
    justify-content: space-between;
}

.pw-display
{
    display:flex;
    justify-content:center; 
    align-items:center; 
    background:#273549;
    height:2.5em;
    width: 10em;
    color:#5DEF92;
    
    padding:0.4em 0.8em;
    border-radius: 6px;
}


@media (max-width:450px){
.display-passwords-container {
    margin-top:1em;
    display:flex;
    flex-direction:column; 
}
.actions{
    display:flex;
    flex-direction: column;
    margin: 1em;
}
.actions > button {
    margin:0.5em;
    padding:0.4em 0.8em;
}
.change-password-length
{
    margin:0.5em;
    padding:0.4em 0.8em;
}
.pw-display
{
    margin:0.5em;
    padding:0.4em 0.8em;
}


}
